DATABASE_URL=""

NEXTAUTH_SECRET="" # Generated using the command: `openssl rand -base64 32` || `npx auth secret`

NEXTAUTH_URL="http://localhost:3000/"
NEXT_BASE_URL_LOCAL='http://localhost:3000/'

GITHUB_ID=""
GITHUB_SECRET=""
